@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --black: #1b1b1b;
    --white: rgb(255, 255, 255);
    --grisClaro: #ebebeb;
    --gris: #c7c7c7;
    --grisOscuro: #606060;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
/* regular 400, medium 500, semiblod 600*/
body {
    font-size: 1.2rem;
    background-color: var(--black);
    color: var(--gris);
}
.inactive {
    display: none;
}

/* aqui empiezan los estilos del header */
header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem 0 4rem;
}
header a {
    width: 50vw;
}
.icon-container img {
    width: 3.5rem; 
}
.menu-mobile img {
    width: 3.5rem;
}
.ul-header {
    width: 50vw;
    display: flex;
    justify-content: end;
    list-style: none;
}
.ul-header li {
    margin-left: 1rem;
}
.ul-header li a {
    text-decoration: none;
    color: var(--gris);
    font-size: 1.2rem;
}

/* aqui empiezan los estilos del hero */
.hero {
    padding: 4rem;
}
.img-hero-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 2rem;
    background-image: url(./icons/pexels-btgl-♡-3689642-modified.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.img-hero-container span {
    font-weight: bold;
    font-size: 4rem;
    color: var(--grisClaro);
}
.menu-mobile:hover {
    cursor: pointer;
}
/* services */
.services-title {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.services-title p {
    font-size: 2rem;
}
.services {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 20rem 0;
}
.avaluos {
    background-color: #2d2d2d;
    border-radius: 1rem;
    width: 23%;
    height: auto;
    text-align: justify;
}
.avaluos p {
    padding: 0 1.5rem 1rem 1.5rem;
}
.avaluos figure {
    margin-bottom: 1rem;
}
.avaluos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.avaluos :nth-child(2) {
    padding: 0 1.5rem 0 1.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.avaluos :nth-child(3) {
    padding: 0 1.5rem 0 1.5rem;    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--grisOscuro);
}
.plus-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}
.plus-container a {
    text-decoration: none;
    color: var(--grisOscuro);
}
.material-symbols-outlined:hover {
    cursor: pointer;
}
/* testimony */
.container-testimony {
    display: flex;
}
.container-testimony .p {
    width: 50%;
    padding-right: 2rem;
}
.container-testimony p:nth-child(1) {
    font-style: oblique;
    font-size: medium;
    text-align: end;
}
.container-testimony p:nth-child(2) {
    margin-top: 2rem;
    font-style: oblique;
    font-size: small;
    text-align: end;
}
.container-testimony figure {
    width: 50%;
}
.container-testimony figure img {
    width: 100%;
    max-height: 80vh;
    border-radius: 1rem;
    object-fit: cover;
}

/* scroll imagenes */
.imagenes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
}
.img-container {
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
    color: var(--white);
}
.img-container p {
    width: auto;
    height: auto;
    font-size: 2rem;
    font-weight: bold;
}
.img-container p:hover {
    color: #000000;
    cursor: pointer;
    font-size: 5rem;
}

.imagenes-container #one {
    background-image: url(https://images.pexels.com/photos/10419501/pexels-photo-10419501.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imagenes-container #two {
    background-image: url(https://images.pexels.com/photos/4977354/pexels-photo-4977354.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imagenes-container #three {
    background-image: url(https://images.pexels.com/photos/8482832/pexels-photo-8482832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imagenes-container #four {
    background-image: url(https://images.pexels.com/photos/7647758/pexels-photo-7647758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media(max-width: 850px) {
    .nav-header {
        display: none;
    }
    .services {
        flex-direction: column;
    }
    .avaluos {
        width: 100%;
        height: auto;
        margin-bottom: 7.5rem;
        flex-direction: row;
    }
    .avaluos img {
        width: 100%;
        height: 100%;
    }
    /* .container-testimony {
        flex-direction: column-reverse;
    }
    .container-testimony .p {
        width: 100%;
    }
    .container-testimony figure {
        width: 100%;
        height: 50%;
    }
    .container-testimony figure img {
        height: 50%;
    } */
}
@media(min-width: 851px) {
    .menu-mobile {
        display: none;
    }
}
@media(max-width: 500px) {
    .img-container p {
        display: none;
    }
}